{% extends 'products/header.html' %}
{% load crispy_forms_tags %}
{% block main %}

<div class="offset-1 col-md-10">
<h3>CONTACT US</h3>


<h6 class="mt-2 mb-3">CALL US</h6>

1800 890 1222

<p>8:00 AM to 8:00 PM, 365 days</p>

<h6>Concerns not addressed?<h6>
<p>It is our priority to positively respond and address any concerns you may have at the earliest. To ensure this, our team is continuously working to provide you the best of support, though a few concern/issues that are complex in nature may require additional time to resolve.<p>

<p>In the unlikely event that your concerns are not addressed satisfactorily, you could communicate directly to higher authorities. To facilitate and better manage this we have aligned a structure to aid communication.</p>

<p>Communication structure for concerns not addressed satisfactorily:</p>

<p>Level-2: CS Head: test@gmail.com
This is the final level to redress grievances that have already been conveyed to the Level 1 customer support
While writing, we encourage you to quote the communication and allied resolution offered in earlier stages so that we get a holistic view
We value your time and are committed to ensure your satisfaction in all your interactions with us
Please allow 24-48 hours for a resolution
</p>	

</div>
{% include 'products/footer.html' %}
	{% endblock %}