{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	<div class="row">
		<div class="col-md-8">
<form method='POST' action=''>

{% csrf_token %}
<legend>
	<fieldset>Password Reset</fieldset>
	<br>
	<h5>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</h5>
	{{form|crispy}}
</legend>
<div class="form-group">
	<button class="btn btn-outline-info">Password Reset</button>
</div>


</div>
</div>
</div>
</div>
{% endblock %}