{% extends 'products/base.html' %}

  {% block content %}
 
    <h1 class="text-center"> Products Home Page</h1><hr>
    <div class="conatiner">
    <div class="row">

  {% for item in items %}
    <div class="col">
    {% include 'products/card.html' with instance=item %}
    
    {% cycle '' '' '' %}<br>
    </div><hr>
  {% endfor %}
    </div>

{% if is_paginated %}

{% if page_obj.has_previous %}

<a  href="?page={{page_obj.previous_page_number}}"><<</a>
{%endif%} 

{% for num in page_obj.paginator.page_range%}
{% if page_obj.number == num %}
<a  href="?page={{num}}"  class="btn btn-info">{{num}}</a>
{% elif num > page_obj.number|add:'-3' and num < pge_obj.number|add:'3'%}
<a  href="?page={{num}}" class="btn btn-outline-info">{{num}}</a>
{%endif%}
{%endfor%}

{% if page_obj.has_next %}
<a  href="?page={{page_obj.next_page_number}}">>></a>

{%endif%}     
{% endif %}

    {% endblock %}